body {
  background-color: #f8f8f8;
}
.caixa {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.m {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: space-between;
  box-sizing: border-box;
}

.resultado {
  background-color: #f8f9fa;
  padding: 0.375rem 0.75rem;
  text-align: right;
  border-radius: 0.25rem;
}
.input {
  border: 1px solid #000;
  position: relative;
  border-radius: 25px;
  padding: 20px;
  text-align: end;
  background-color: #f8f8f8;
  box-shadow: -3px 3px 0px #dadada, inset 4px 2px 0px #ffffff;
}

.input::before {
  content: "loiiiiiiii";
  border: 1px solid #000;
  left: -9px;
  bottom: -9px;
  width: 100%;
  position: absolute;
  background-color: aqua;
}

.calculadora {
  border: 1px solid #000;
  padding: 25px;
  width: 260px;
  border-radius: 25px;
  background-color: #f1f1f1;
  position: relative;
}

.calculadora::before {
  content: "";
  border: 1px solid #000;
  height: 100%;
  width: 260px;
  left: -9px;
  bottom: -9px;
  position: absolute;
  background-color: #e4e4e4;
  z-index: -1;
  border-radius: 25px;
}

.btn-number {
  background-color: #f1f1f1;
  border: 1px solid #000;
  border-radius: 250px;
  width: 45px;
  height: 45px;
  position: relative;
  transition: 0.2s ease-in-out;
  box-shadow: inset 4px 2px 0px #fff;
}

.sombra {
  background-color: #8f8f8f;
  border: 1px solid #000;
  border-radius: 250px;
  width: 45px;
  height: 45px;
  left: -3px;
  bottom: -3px;
  content: "";
  position: absolute;
}


.btn-number:active {
  transform: translateX(-3px) translateY(3px);
}

.btn-operador {
  background-color: #ef98eb;
  border: 1px solid #000;
  border-radius: 250px;
  width: 45px;
  height: 45px;
  position: relative;
  transition: 0.2s ease-in-out;
  box-shadow: inset 4px 2px 0px #ebafe8;
}

.btn-operador:active {
  transform: translateX(-3px) translateY(3px);
}
.sombra2 {
  background-color: #bb70b7;
  border: 1px solid #000;
  border-radius: 250px;
  width: 45px;
  height: 45px;
  left: -3px;
  bottom: -3px;
  content: "";
  position: absolute;
}

.sombra3 {
  background-color: #4f78aa;
  border: 1px solid #000;
  border-radius: 250px;
  width: 45px;
  height: 45px;
  left: -3px;
  bottom: -3px;
  content: "";
  position: absolute;
}

.btn-view {
  background-color: #aad0ff;
  border: 1px solid #000;
  border-radius: 250px;
  width: 45px;
  height: 45px;
  position: relative;
  transition: 0.2s ease-in-out;
  box-shadow: inset 4px 2px 0px #c7dffc;
}

.btn-view:active {
  transform: translateX(-3px) translateY(3px);
}
